<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <h3 class="card-title text-center">Sign Up</h3>
                <form th:action="@{/register}" method="post" th:object="${user}" class="card-body">
                    <div class="form-group">
                        <label for="name">First Name:</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name">
                        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" th:field="*{email}" id="email">
                        <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" th:field="*{username}" id="username">
                        <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" th:field="*{password}" id="password">
                        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>
